<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <title>{{ .Page.Title }} | SingularisArt</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{ $style := resources.Get "style.css" }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>

  <body
    class="leading-normal font-md text-gray-700 dark:text-gray-300 bg-neutral-50 dark:bg-gray-900"
  >
    {{ block "main" . }} {{ end }}
  </body>
</html>
