{{ define "main" }}

{{- $showTitle := .Params.showTitle -}}

<div class="prose-singularisart dark:prose-invert px-4 py-4 md:py-3 md:px-8 max-w-[1000px] mx-auto min-h-[100vh] flex flex-col">
  {{- if eq $showTitle true -}}
    <h1 class="text-center">{{ .Title }}</h1>
  {{- end -}}
  {{ .Content }}

  {{ range .Pages }}
    {{- if not .Params.series }}
      {{- $url := .Page.Permalink }}
      {{- with .Params.introFile }}
        {{- $url = printf "%s%s" $url . }}
      {{- end }}

      <div class="mb-[2em]">
        <a class="hover:no-underline text-gray-700 dark:text-gray-300" href={{ $url }}>
          <div class="text-[80%] font-small-caps lowercase font-[700]">
            <span>{{ .Page.Date.Format "January 2 Monday, 2006" }}</span>
            {{ if ne .Lastmod .Date }}
              <span class="px-2 text-primary-500">•</span>
              Updated: {{ .Page.Lastmod.Format "January 2 Monday, 2006" }}
            {{ end }}
            <span class="px-2 text-primary-500">•</span>
            <span>{{ .Page.WordCount }} word read</span>
            <span class="px-2 text-primary-500">•</span>
            <span title="reading-time">{{ .Page.ReadingTime }} minute{{ if (ne .Page.ReadingTime 1) }}s{{ end }}</span>
          </div>
          <h2 class="mb-[0.2em] mr-0 ml-0 font-[600] leading-7">{{ .Title }}</h2>
          <p class="m-0">{{ .Summary }}</p>
        </a>
      </div>
    {{ end }}
  {{ end }}
</div>

{{ end }}
