---
---
@import "colors";

// Note: body text and background color
body {
  line-height: 1.5;
  color: $text-color;
  background-color: $background-color;
  font-family: 'Computer Modern Sans', sans-serif; 
  font-size: 18px;
  line-height: 1.5;
  word-wrap: break-word;
}

// Note: markdown body
// -----------------------------------------------
.markdown-body {
  line-height: inherit;
  color: inherit;
  background-color: inherit;
  font-family: inherit; 
  font-size: inherit;
  line-height: inherit;
  word-wrap: inherit;

  box-sizing: border-box;
  min-width: 200px;
  max-width: 850px;
  margin: 0 auto;
  padding: 45px;
}

.markdown-body:after,
.markdown-body:before {
  display: table;
  content: "";
}

.markdown-body:after {
  clear: both;
}

.markdown-body>:first-child {
  margin-top: 0!important;
}

.markdown-body>:last-child {
  margin-bottom: 0!important;
}

.markdown-body p {
  margin-top: 0;
  margin-bottom: 10px;
}

.markdown-body strong {
  font-weight: inherit;
  font-weight: bolder;
  font-weight: 600;
}
// -----------------------------------------------

// Element: headers
// -----------------------------------------------
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  margin-top: 24px;
  margin-bottom: 12px;
  font-weight: 600;
  line-height: 1.25;
}

.markdown-body h1 {
  font-size: 2.00em;
  padding-bottom: .3em;
  text-align: center;
  // border-bottom: 1px solid $border-color;
}

.markdown-body h2 {
  font-size: 1.5em;
  padding-bottom: .3em;
  border-bottom: 1px solid $border-color;
}

.markdown-body h3 {
  font-size: 1.25em;
}

.markdown-body h4 {
  font-size: 1em;
}

.markdown-body h5 {
  font-size: .875em;
}

.markdown-body h6 {
  font-size: .85em;
}
// -----------------------------------------------

// Element: links
// -----------------------------------------------
.markdown-body a {
  color: $link-color;
  background-color: initial;
  text-decoration: none;
}

.markdown-body a:active,
.markdown-body a:hover {
  outline-width: 0;
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body a code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: $inline-code-background-color;
  color: $link-color;
  border-radius: 3px;
}

.markdown-body a:not([href]) {
  color: inherit;
  text-decoration: none;
}
// -----------------------------------------------

// Element: details and summary
// -----------------------------------------------
.markdown-body details {
  background-color: $light2;
  display: block;
}

.markdown-body summary {
  display: list-item;
  padding-bottom: 1ex;
}

.markdown-body details summary {
  cursor: pointer;
  color: $link-color;
  background-color: $background-color;
}

.markdown-body details p {
  padding: 0px 10px;
}
// -----------------------------------------------

// Element: input
// -----------------------------------------------
.markdown-body input {
  overflow: visible;
  font: inherit;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
// -----------------------------------------------

// Element: horizontal rule
// -----------------------------------------------
.markdown-body hr {
  height: .25ex;
  padding: 0;
  margin: 16px 0;
  background-color: $border-color;
  border: 0;
}
// -----------------------------------------------

// Generic margin settings
// -----------------------------------------------
.markdown-body blockquote,
.markdown-body details,
.markdown-body dl,
.markdown-body ol,
.markdown-body p,
.markdown-body pre,
.markdown-body table,
.markdown-body ul {
  margin-top: 0;
  margin-bottom: 16px;
}
// -----------------------------------------------

// Element: block quotes
// -----------------------------------------------
.markdown-body blockquote {
  margin: 0;
  padding: 0 1em;
  color: $quote-text-color;
  background-color: $quote-background-color;
  border-left: .25em solid $border-color;
}
// -----------------------------------------------

// Element: lists and list items
// -----------------------------------------------
.markdown-body ol,
.markdown-body ul {
  padding-left: 1.75em;
}

.markdown-body ol ol,
.markdown-body ol ul,
.markdown-body ul ol,
.markdown-body ul ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: lower-roman;
}

.markdown-body ol ol ol,
.markdown-body ol ul ol,
.markdown-body ul ol ol,
.markdown-body ul ul ol {
  list-style-type: lower-alpha;
}

.markdown-body li {
  word-wrap: break-all;
}

.markdown-body li>p {
  margin-top: 16px;
}

.markdown-body li+li {
  margin-top: .25em;
}
// -----------------------------------------------

// Element: description list, details, term
// -----------------------------------------------
.markdown-body dl {
  padding: 0;
}

.markdown-body dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.markdown-body dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown-body dd {
  margin-left: 0;
}
// -----------------------------------------------

// Element: tables
// -----------------------------------------------
.markdown-body table {
  display: block;
  width: 100%;
  overflow: auto;
  border-spacing: 0;
  border-collapse: collapse;
}

.markdown-body table th {
  font-weight: 600;
}

// Note: table border color
.markdown-body table td,
.markdown-body table th {
  padding: 6px 13px;
  border: 1px solid $table-border-color;
}

// Note: table row background color 1
.markdown-body table tr {
  background-color: $table-row-color-light;
  border-top: 1px solid #c6cbd1;
}

// Note: table row background color 2
.markdown-body table tr:nth-child(2n) {
  background-color: $table-row-color-dark;
}
// -----------------------------------------------

// Element: image
// -----------------------------------------------
.markdown-body img {
  max-width: 100%;
  box-sizing: initial;
  background-color: #fff;
  border-style: none;
}

.markdown-body img[align=right] {
  padding-left: 20px;
}

.markdown-body img[align=left] {
  padding-right: 20px;
}
// -----------------------------------------------

// Element: keyboard
// -----------------------------------------------
.markdown-body kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px 'Computer Modern Typewriter' ,monospace;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}
// -----------------------------------------------

// Element: code, highlight, pre, etc
// -----------------------------------------------
.markdown-body code,
.markdown-body pre {
  font-family: 'Computer Modern Typewriter',monospace;
}

.markdown-body pre {
  margin-top: 0;
  margin-bottom: 0;
  word-wrap: normal;
}

// Note: Text color and background color of inline code
.markdown-body code {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: $inline-code-background-color;
  color: $inline-code-text-color;
  border-radius: 3px;
}

.markdown-body pre>code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown-body .highlight {
  margin-bottom: 16px;
}

.markdown-body .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

// Note: Background color of code blocks
.markdown-body .highlight pre,
.markdown-body pre {
  padding: 16px;
  overflow: auto;
  font-size: 90%;
  line-height: 1.45;
  background-color: $block-code-background-color;
  border-radius: 3px;
}

// Note: Text color and background color inside code blocks
.markdown-body pre code {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: initial;
  color: $block-code-text-color;
  border: 0;
}
// -----------------------------------------------

// Media queries
// -----------------------------------------------
@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
// -----------------------------------------------

@import "topnav", "nord-syntax", "note-taking-with-latex";
