@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tocbot/src/scss/tocbot";

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

body.modal-open {
  overflow: hidden;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

@media (max-width: 640px) {
  #main-nav {
    display: none;
  }
}

.toc-dark {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}

.toc-dark a {
  color: #fff;
  text-decoration: none;
}

.toc-dark a:hover {
  text-decoration: underline;
}

/* Light Theme */
.toc-light {
  background-color: #fff;
  color: #333;
  border: 1px solid #ccc;
}

.toc-light a {
  color: #333;
  text-decoration: none;
}

.toc-light a:hover {
  text-decoration: underline;
}

.icon {
  font-size: 0.85rem;
  position: absolute;
  top: .6rem;
  left: .4rem;
}

.details-icon {
  position: absolute;
  top: .6rem;
  right: .3rem;
}

ol {
  list-style-type: decimal;
  margin: 0px;
}

ul {
  list-style-type: disc;
  margin: 0px;
}

.sol-qed {
  display: inline-block;
  width: 30px;
  height: 10px;
  background-color: var(--solution);
}

.prf-qed {
  display: inline-block;
  width: 30px;
  height: 10px;
  background-color: var(--proof);
}
