{{ $currentPage := . -}}

<nav id="main-nav" class="fixed z-50 top-0 w-full flex items-center px-4 py-4 sm:py-3 sm:px-8 text-header-text-light bg-neutral-200 dark:text-header-text-dark dark:bg-gray-800">
  <div class="flex items-center">
    LOGO
  </div>

  <div class="flex flex-1 items-center justify-center gap-5">
    <a class="hover:underline {{ if eq $currentPage.Title "Home" }}italic text-sky-600{{ end }}" href="/">Home</a>
    <a class="hover:underline {{ if eq $currentPage.Title "Content" }}italic text-sky-600{{ end }}" href="/content">Content</a>
    <a class="hover:underline {{ if eq $currentPage.Title "Contact" }}italic text-sky-600{{ end }}" href="/contact">Contact</a>
    <a class="hover:underline {{ if eq $currentPage.Title "About" }}italic text-sky-600{{ end }}" href="/about">About</a>
    <a class="hover:underline {{ if eq $currentPage.Title "Notes" }}italic text-sky-600{{ end }}" href="/notes">Notes</a>
    <a class="hover:underline {{ if eq $currentPage.Title "Tags" }}italic text-sky-600{{ end }}" href="/tags">Tags</a>
  </div>

  <div class="text-header-text-light dark:text-header-text-dark flex gap-[20px]">
    {{ partial "search.html" . }}
    {{ partial "theme.html" . }}
  </div>
</nav>

<button id="mobile-menu-button" class="fixed z-50 top-0 left-0 w-full h-14 sm:hidden px-4 py-3 text-header-text-light dark:text-header-text-dark bg-neutral-200 dark:bg-gray-800 hover:bg-neutral-300 dark:hover:bg-gray-700 focus:outline-none">
  <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="h-6 w-6 mx-auto">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
  </svg>
</button>

<div id="mobile-menu" class="hidden sm:hidden fixed z-50 top-14 left-0 w-full bg-neutral-200 dark:bg-gray-800 text-header-text-light dark:text-header-text-dark">
  <div class="text-center p-4">
    <a class="block hover:underline {{ if eq $currentPage.Title "Home" }}italic text-sky-600{{ end }}" href="/">Home</a>
    <a class="block hover:underline {{ if eq $currentPage.Title "Content" }}italic text-sky-600{{ end }}" href="/content">Content</a>
    <a class="block hover:underline {{ if eq $currentPage.Title "Contact" }}italic text-sky-600{{ end }}" href="/contact">Contact</a>
    <a class="block hover:underline {{ if eq $currentPage.Title "About" }}italic text-sky-600{{ end }}" href="/about">About</a>
    <a class="block hover:underline {{ if eq $currentPage.Title "Notes" }}italic text-sky-600{{ end }}" href="/notes">Notes</a>
    <a class="block hover:underline {{ if eq $currentPage.Title "Tags" }}italic text-sky-600{{ end }}" href="/tags">Tags</a>
  </div>
</div>
