{{- if not .Params.series }}
  {{- $url := .Page.Permalink }}
  {{- $tags := .Params.tags -}}
  {{- $categories := .Params.categories -}}
  {{- with .Params.introFile }}
    {{- $url = printf "%s%s" $url . }}
  {{- end }}

  <div class="mb-[2em]">
    <a class="hover:no-underline text-gray-700 dark:text-gray-300" href={{ $url }}>
      <div style="font-size: 0.75em; line-height: 1rem;" class="font-small-caps lowercase font-[700]">
        <span>{{ .Page.Date.Format "January 2 Monday, 2006" }}</span>
        {{ if ne .Lastmod .Date }}
          <span class="px-2 text-primary-500">•</span>
          Updated: {{ .Page.Lastmod.Format "January 2 Monday, 2006" }}
        {{ end }}
        <span class="px-2 text-primary-500">•</span>
        <span>{{ .Page.WordCount }} word{{ if (ne .Page.WordCount 1) }}s{{ end }}</span>
        <span class="px-2 text-primary-500">•</span>
        <span title="reading-time">{{ .Page.ReadingTime }} minute{{ if (ne .Page.ReadingTime 1) }}s{{ end }}</span>
      </div>
      <h3 class="mb-[0.2em] mr-0 mt-0 ml-0 font-[600] leading-7">{{ .Title }}</h3>
      <p class="m-0">{{ .Summary }}</p>
    </a>
    <div class="flex justify-between">
      <div class="flex space-x-4">
        {{ range $index, $category := $categories }}
          <a class="flex items-center hover:underline" href="/category/{{ $category }}">
            {{ partial "tag-icon.html" $category }} {{ $category }}
          </a>
        {{ end }}
      </div>
      <div class="flex space-x-4">
        {{ range $index, $tag := $tags }}
          <a class="flex items-center hover:underline" href="/tags/{{ $tag }}">
            {{ partial "tag-icon.html" $tag }} {{ $tag }}
          </a>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
