{{ define "main" }}

{{- $showTitle := .Params.showTitle -}}
{{ $blogs := .Site.GetPage "posts/blogs" }}

<div class="prose-singularisart dark:prose-invert px-4 py-4 md:py-3 md:px-8 max-w-[1000px] mx-auto min-h-[100vh] flex flex-col">
  {{- if eq $showTitle true -}}
    <h1 class="text-center">{{ .Title }}</h1>
  {{- end -}}

  {{ range $blogs.Pages }}
    {{ partial "list-post.html" . }}
  {{ end }}

  {{- if gt (len $blogs.Pages) 3 -}}
    <div class="text-center">
      <a class="text-primary-500 hover:text-primary-700" href="{{ $blogs.RelPermalink }}">View More</a>
    </div>
  {{- end -}}
</div>

{{ end }}
