{{ define "main" }}

{{- $showTitle := .Params.showTitle -}}
{{ $tutorials := .Site.GetPage "section" "tutorials" }}

<div class="prose-singularisart dark:prose-invert px-4 py-4 md:py-3 md:px-8 max-w-[1000px] mx-auto min-h-[100vh] flex flex-col">
  {{- if eq $showTitle true -}}
    <h1 class="text-center">{{ .Title }}</h1>
  {{- end -}}

  <section class="relative">
    <h2>Tutorials</h2>

    Single articles/multi-part series that I've written explaining any topic
    that piques my interest. I write them in a way that I would have liked to
    have read them when I was learning the topic. Here are the three most
    recent tutorials that I've written.

    <br />
    <br />

    {{ range $tutorials.Pages | first 3 }}
      {{ partial "list-tutorial.html" . }}
    {{ end }}

    {{- if gt (len $tutorials.Pages) 3 -}}
      <div class="text-center">
        <a class="text-primary-500 hover:text-primary-700" href="{{ $tutorials.RelPermalink }}">View More</a>
      </div>
    {{- end -}}

    {{ partial "line.html" . }}
  </section>

  <section class="relative">
    <h2>Projects</h2>

    {{ range $tutorials.Pages | first 3 }}
      {{ partial "list-tutorial.html" . }}
    {{ end }}

    {{- if gt (len $tutorials.Pages) 3 -}}
      <div class="text-center">
        <a class="text-primary-500 hover:text-primary-700" href="{{ $tutorials.RelPermalink }}">View More</a>
      </div>
    {{- end -}}

    {{ partial "line.html" . }}
  </section>
</div>

{{ end }}
