{{ define "main" }}

{{- $showTitle := .Params.showTitle -}}

{{ $tutorials := .Site.GetPage "posts/tutorials" }}
{{ $blogs := .Site.GetPage "posts/blogs" }}

{{ $projects := .Site.GetPage "section" "projects" }}
{{ $papers := .Site.GetPage "academia/papers" }}

<div class="prose-singularisart dark:prose-invert px-4 py-4 md:py-3 md:px-8 max-w-[1000px] mx-auto min-h-[100vh] flex flex-col">
  {{- if eq $showTitle true -}}
    <h1 class="text-center">{{ .Title }}</h1>
  {{- end -}}

  <section class="relative">
    <h2><a class="text-sky-600 hover:underline" href="/posts" class="text-primary-500 hover:text-primary-700">Posts</a></h2>

    <h3><a class="text-sky-600 hover:underline" href="/posts/tutorials" class="text-primary-500 hover:text-primary-700">Tutorials</a></h3>

    {{ range $tutorials.Pages | first 3 }}
      {{ partial "list-post.html" . }}
    {{ end }}

    {{- if gt (len $tutorials.Pages) 3 -}}
      <div class="text-center">
        <a class="text-sky-600 hover:underline" href="{{ $tutorials.RelPermalink }}">View More</a>
      </div>
    {{- end -}}

    <h3><a class="text-sky-600 hover:underline" href="/posts/blogs">Blogs</a></h3>

    {{ range $blogs.Pages | first 3 }}
      {{ partial "list-post.html" . }}
    {{ end }}

    {{- if gt (len $blogs.Pages) 3 -}}
      <div class="text-center">
        <a class="text-sky-600 hover:underline" href="{{ $blogs.RelPermalink }}">View More</a>
      </div>
    {{- end -}}

    {{ partial "line.html" . }}
  </section>

  <section class="relative">
    <h2><a class="text-sky-600 hover:underline" href="/projects">Projects</a></h2>

    {{ range $projects.Pages | first 3 }}
      {{ partial "list-project.html" . }}
    {{ end }}

    {{- if gt (len $projects.Pages) 3 -}}
      <div class="text-center">
        <a class="text-sky-600 hover:underline" href="{{ $projects.RelPermalink }}">View More</a>
      </div>
    {{- end -}}

    {{ partial "line.html" . }}
  </section>

  <section class="relative">
    <h2><a class="text-sky-600 hover:underline" href="/academia">Academia</a></h2>

    <h3><a class="text-sky-600 hover:underline" href="/academia/papers">Papers</a></h3>

    <div>
      {{ range $index, $paper := $papers.Pages | first 3 }}
        <span class="flex gap-1 mb-2">[{{ add $index 1 }}]{{ partial "list-paper.html" . }}</span>
      {{ end }}
    </div>

    {{- if gt (len $papers.Pages) 3 -}}
      <div class="text-center">
        <a class="text-sky-600 hover:underline" href="{{ $papers.RelPermalink }}">View More</a>
      </div>
    {{- end -}}

    <h3><a class="text-sky-600 hover:underline" href="/academia/presentations">Presentations</a></h3>

    <h3><a class="text-sky-600 hover:underline" href="/academia/talks">Talks</a></h3>

    <h3><a class="text-sky-600 hover:underline" href="/academia/notes">Notes</a></h3>

    {{ partial "line.html" . }}
  </section>
</div>

{{ end }}
