<div class="flex justify-center gap-5 flex-row">
  <div>
    <div class="flex justify-between">
      <div>{{ .Get "title" }}, (<span class="text-gray-400">{{ .Get "note" }}</span>)</div>
      <div>Year {{ .Get "year" }}: {{ .Get "term" }}</div>
    </div>
    <table class="border-separate border-spacing-3 border border-slate-500 mb-5">
      <tr>
        <td>
          {{ with .Get "html" }}
            <a href="{{ . }}">HTML</a>
          {{ else }}
            <span class="text-gray-400">HTML</span>
          {{ end }}
        </td>
        <td>
          {{ with .Get "pdf" }}
            <a href="{{ . }}">PDF</a>
          {{ else }}
            <span class="text-gray-400">PDF</span>
          {{ end }}
        </td>
        <td>
          {{ with .Get "def" }}
            <a href="{{ . }}">PDF (def)</a>
          {{ else }}
            <span class="text-gray-400">PDF (def)</span>
          {{ end }}
        </td>
        <td>
          {{ with .Get "thm" }}
            <a href="{{ . }}">PDF (thm+prf)</a>
          {{ else }}
            <span class="text-gray-400">PDF (thm+prf)</span>
          {{ end }}
        </td>
        <td>
          {{ with .Get "qst" }}
            <a href="{{ . }}">PDF (qst+sol)</a>
          {{ else }}
            <span class="text-gray-400">PDF (qst+sol)</span>
          {{ end }}
        </td>
        <td>
          {{ with .Get "tex" }}
            <a href="{{ . }}">TEX</a>
          {{ else }}
            <span class="text-gray-400">TEX</span>
          {{ end }}
        </td>
      </tr>
    </table>
  </div>
</div>
